@model DigitalCharacterSheet2.Models.character

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>character</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.campaign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campaign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.advancement_points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.advancement_points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plot_points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plot_points)
        </dd>

    </dl>
</div>

<!--loops through and displays the character's attributes-->
<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.attributes)</th>
        <th>attribute value</th>
    </tr>
    @foreach (var item in Model.attributes)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.attributeName)</td>
            <td>@Html.DisplayFor(modelItem => item.attributeValue)</td>
            <td>@Html.ActionLink("Edit Attribute", "EditAttributes", new { id = item.characterName, id2 = item.attributeName })</td>
        </tr>
    }
    <tr><td>@Html.ActionLink("Add Attribute", "CreateAttribute", new { id = Model.character_name })</td></tr>
    <tr><td>.</td></tr>
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.character_name }) |
    @Html.ActionLink("Back to List", "Index")
</p>
